<div class="appointment-container">
    <h2>Book an Appointment</h2>
  
    <form (ngSubmit)="submitAppointment()">
  
      <div class="form-group">
        <label for="appointmentDate">Appointment Date:</label>
        <input type="date" id="appointmentDate" name="appointmentDate" [(ngModel)]="appointmentDetails.date" required [min]="minDate">
      </div>
  
      <div class="form-group">
        <label for="services">Services:</label>
        <textarea id="services" name="services" [(ngModel)]="appointmentDetails.services" required></textarea>
      </div>
  
      <div class="form-group">
        <label for="timeSlot">Time Slot:</label>
        <input type="text" id="timeSlot" name="timeSlot" [(ngModel)]="appointmentDetails.slot" required>
      </div>
  
      <button type="submit" (click)="bookAppointment()" class="btn btn-primary">Submit Appointment</button>
    </form>
  </div>
  
